      <section class="login-block">
        <div class="pcoded-content">
          <!-- Container-fluid starts -->
          <div class="container ">
              <div class="row ">
                  <div class="col-sm-12 ">
                      <!-- Authentication card start -->
  
                      <form class="form-horizontal" action="/admin/add-product" method="post" enctype="multipart/form-data">
                        <fieldset>
                                                           
                        <!-- Form Name -->
                        <legend> ADD PRODUCTS</legend>
                        
                        <!-- Text input-->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="product_id">Product Name</label>  
                          <div class="col-md-4">
                          <input id="product_id" name="name" placeholder="Product Name" class="form-control input-md" required="" type="text">
                            
                          </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="product_name">Product Description</label>  
                          <div class="col-md-4">
                          <input id="product_name" name="description" placeholder="Product Description" class="form-control input-md" required="" type="text">
                            
                          </div>
                        </div>
                        {{!-- price --}}
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="product_name">Product Price</label>  
                          <div class="col-md-4">
                          <input id="product_name" name="price" placeholder="Product Price" class="form-control input-md" required="" type="text">
                            
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="product_name">Non offer Price</label>  
                          <div class="col-md-4">
                          <input id="product_name" name="Realprice" placeholder="Product Price " class="form-control input-md" required="" type="text">
                            
                          </div>
                        </div>
                        
                        
                        <!-- Select Basic -->
                        <div class="form-group col-md-4">
                         <label for="inputState">Category</label>
                         <select id="inputState" name="category" class="form-control">
                          {{#each category}}
                          
                          <option>{{this.category}}</option>
                         
                          
                          {{/each}}
                         </select>
                        </div>
                                             
                       
                         {{!-- <input id="filebutton" name="image" class="input-file" type="file" required="" > --}}
                       
                         <!-- File Button --> 
                        <div class="row form-group">
                    <div class="col col-md-3"><label for="file-input" class=" form-control-label">Choose Image</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <div>
                            <label for="Imageid" id="image-div"><i class="fa fa-plus" aria-hidden="true"
                                    style="font-size:45px; border:1px solid black;padding:25px;cursor:pointer"></i></label>
                            <input type="file" id="Imageid" name="image" class="form-control-file"
                                style="display:none;visibility:none;" onchange="getImage(event)"
                                accept="image/jpg,image/jpeg" multiple required>

                            <img id="image-show-0" src="" alt="" style="width:100px ;height:auto;">
                            <img id="image-show-1" src="" alt="" style="width:100px ;height:auto;">
                            <img id="image-show-2" src="" alt="" style="width:100px ;height:auto;">

                        </div>

                    </div>
                </div>
                       
                        <!-- Button -->
                        <div class="form-group">
                          
                          <div class="col-md-4">
                            <button id="singlebutton" type="submit" name="singlebutton" class="btn btn-primary">Add</button>
                          </div>
                          </div>
                        
                        </fieldset>
                        </form>
                        
                          <!-- end of form -->
                  </div>
                  <!-- end of col-sm-12 -->
              </div>
              <!-- end of row -->
          </div>
          </div>
          <!-- end of container-fluid -->
      </section>
     
<script>
    function getImage(event) {
        let inputDiv = document.getElementById('image-div')  // This is given for when we add images upto limit we dont need to display the option for adding image. In below we are displaying it none
        if (event.target.files && event.target.files[0]) {
            console.log(event.target.files) //There will a be a Filelist. It contains 'FileList {0: File, 1: File, length: 2}' and also there is a details of images too like lastmodified,date etc
            let leng = event.target.files.length
            console.log(leng)
            if (leng > 3) {
                document.getElementById('Imageid').value = null //This is given, if we select images more than the limit value inside ImageId should be 
                alert('3 pictures are allowed')
            } else {

                for (let i = 0; i < leng; i++) {
                    if (i == 2) {
                        inputDiv.style.display = 'none'
                    }
                    let one = document.getElementById('image-show-' + [i]) //Used to show image according to image tag
                    one.style.display = 'inline'
                    one.src = URL.createObjectURL(event.target.files[i]) //Used to get the image using the image url

                }
            }
        }

    }
</script>





  

