<header>
    <nav class="navbar navbar-expand-lg bg-warning">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold fs-3 " href="">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="btn bg-black text-white fw-bold btn-sm m-4" aria-current="page" type="button" href="/">All Users</a>
            </li>
            {{!-- <li class="nav-item">
              <a href="/admin/add-user" type="button" class="btn bg-black text-white fw-bold btn-sm m-4">Add User</a>
            </li> --}}
          </ul>
          <a href="/admin/" class="btn btn-dark fw-bold text-white btn-sm" role="button">Log Out</a>
        </div>
      </div>
    </nav>
  </header>
<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center fw-bold">EDIT USER</h2><hr>
                <form action="/admin/update/{{userData._id}}" method="post">
                <label class="fs-4 fw-bold" for="">_ID</label>
                    <input disabled value="{{userData._id}}" type="text" name="_id" required class="form-control fs-5">
                    <br>
                    <label class="fs-4 fw-bold" for="">Username</label>
                    <input value="{{userData.name}}" type="text" name="name" required class="form-control fs-5">
                    <br>
                    <label class="fw-bold fs-4" for="">Email</label>
                    <input value="{{userData.email}}" type="email" name="email" required class="form-control fs-5">
                    {{!-- <label for="">Password</label> --}}
                    {{!-- <input type="password" name="password" required class="form-control"> --}}
                    {{!-- <label for="">Confirm Password</label>
                    <input type="password" name="" class="form-control"> --}}
                    <button type="submit" class="btn text-white bg-black btn-lg mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>