<section class="login-block">
  <div class="pcoded-content">
    <!-- Container-fluid starts -->
    <div class="container ">
      <div class="row ">
        <div class="col-sm-12 ">
          <div class="row mt-4">
           <h4>Ordered Product</h4>
          </div>
                <table class="table">
                    <thead>
                        <tr>

                            <th scope="col">Product</th>
                            <th scope="col">Name</th>
                            {{!-- <th></th> --}}
                            <th scope="col">Price</th>

                        </tr>
                    </thead>

                    {{#each products}}
                    <tbody>

                        <tr >

                            <td>
                                <img src="/product-Images/{{product.image.[0]}}" alt="" width="100px">
                            </td>
                            <td>
                                {{#if empty}}
                                <h1></h1>
                                {{/if}}
                                <h5>{{this.product.name}}</h5>
                            </td>
                            {{!-- <td></td> --}}
                            <td>
                                <h5>{{this.product.price}}</h5>
                            </td>
                           

                        </tr>
                        {{/each}}


                        <tr class="bottom_button">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>

                        </tr>

                    </tbody>
                </table>
                {{!-- <a class="gray_btn" href="/shop">BACK TO SHOP</a> --}}
        </div>
      </div>
    </div>
  </div>
</section>

