

<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href=""><img src="img/logo.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Register</h1>
					<nav class="d-flex align-items-center">
						<a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="/signup">Register</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="img/login.jpg" alt="">
						<div class="hover">
							
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Enter the OTP</h3>
						<form  class="row login_form" action="/otp" method="post" id="contactForm" >
							
							<div class="col-md-12 form-group">
								<input type="number" class="form-control" id="name" required="" name="otp" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'phone'" >
							</div>
                             
                              
							
							
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Sign up</button>
								
							</div>
                            <div class="col-md-12">
                                     <a href="/login">Already Registerd .? Login</a>
                            </div>
							{{#if signupErr}}
							<div class="col-md-12">
                                     <h6>OTP Entered is incorrect</h6>
                            </div>
							{{/if}}

                           
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	
